<header>
  <nav class="navbar">
    <div class="logo">
      <img src="/image/logo.png" alt="Echo Logo">
    </div>
    <div class="nav-items">
      <form action="/qa" method="get" style="display: inline;">
        <button type="submit">고민상담</button>
      </form>
      <form action="/chatbot" method="get" style="display: inline;">
        <button type="submit">정보 알리미</button>
      </form>
      <form action="/roommate" method="get" style="display: inline;">
        <button type="submit">룸메이트 찾기</button>
      </form>
    </div>
    <div class="search-login">
      <input type="search" placeholder="검색">
      <button class="login-btn">로그인</button>
      <button class="signup-btn">회원가입</button>
    </div>
  </nav>
</header>